<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

    <title>Brew Journal</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Brew Journal</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <!--
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recipes <!--<b class="caret"></b>--></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#addRecipeModal">Add Recipe</a></li>
                <li><a href="{{ url_for('recipes_view') }}">View Recipes</a></li>
                <!--<li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
                -->
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <!--
            <li class="active"><a href="./">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
          -->  
            <li><a>Welcome, {{ g.user.username }}</a></li>
            <li><a href="{{ url_for('logout') }}">log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	
      {% block content %}
      {% endblock %}
      
	<!-- Modal -->
		<div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title" id="addRecipeModalLabel">Add Recipe</h4>
      				</div>
      				
      				<div class="modal-body">
      					<!-- Nav tabs -->
						<ul class="nav nav-tabs">
  							<li><a href="#recipeForm" data-toggle="tab">Recipe Form</a></li>
  							<li><a href="#beersmithUpload" data-toggle="tab">Upload Beersmith Recipe</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
  							<div class="tab-pane active" id="recipeForm">No Manual Recipe Input Yet :(</div>
  							<div class="tab-pane" id="beersmithUpload">
  								<form role="form" enctype="multipart/form-data" action="{{ url_for('upload_file') }}" method="POST">									
  									<div class="form-group">
    									<label for="inputFile">Please select a BeerSmith2 file to upload.</label>
    									<input type="hidden" name="MAX_FILE_SIZE" value="100000" />
    									<input type="file" id="inputFile" name="inputFile">
    									<p class="help-block">Only XML files are supported at this time.</p>
  						</div>	
      				</div>
      							<div class="modal-footer">
        							<button type="submit" class="btn btn-default" value="Upload">Upload</button>
      							</div>
      						</form>	
    			</div><!-- /.modal-content -->
  			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div> <!--container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {% block docOnReady %}
  {% endblock %}
  </body>
</html>